@media screen and (max-width: 767px) {
.btn-responsive{
    display:flex;
    flex-direction: column;
    gap:2px;
    justify-content: center;
    

    
}
.addition{
    background-color: rgba(255, 255, 255, 0.715) !important;
    color: black !important;
}

.responsive-toggle{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
  
    padding:0px 0px 0px 20px;
}

}